[Unit]
Description=Carrefour HTTP API Server (Dynamic User)
After=network.target tailscaled.service

[Service]
Type=simple
DynamicUser=yes
StateDirectory=carrefour-api
WorkingDirectory=/usr/share/carrefour-api
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python /usr/share/carrefour-api/server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
