[Unit]
Description=Carrefour HTTP API Server (Dynamic User)
After=network.target tailscaled.service

[Service]
Type=simple
DynamicUser=yes
WorkingDirectory=/usr/share/carrefour-api
Environment=PYTHONUNBUFFERED=1
Environment=CARREFOUR_COOKIE_FILE=/usr/share/carrefour-api/carrefour_session.json
ExecStart=/usr/bin/python /usr/share/carrefour-api/server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
